<div class="authetication_box login-form">

<h2>パスワードをお忘れですか?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  </div>

  <div class="actions" style="margin-top:1%;">
    <%= f.submit "メールアドレスを送信", class: "btn btn-primary mb-2" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
