<nav class="navbar navbar-light bg-light under-shadow">
  <%= link_to image_tag("https://fontmeme.com/permalink/190715/dca9b9280864631176d9e2f15984b2e2.png", class: "header-log"), root_path %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active btn btn-outline-success" href="#">Active</a>
    </li>
    <li class="nav-item">
      <% if current_user.blank? %>
        <%= link_to 'ログイン', new_user_session_path, class: "nav-link btn btn-outline-success", method: :get %>
      <% else %>
        <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link btn btn-outline-success", method: :delete %>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-success" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-success disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
