<div class="tab-pane fade <%= "show active" if @tab_flg == "1"%>" id="google" role="tabpanel" aria-labelledby="google-tab">
  <div id=google-tab>
    <table class="article_table">
      <% @curation1.reverse_each do |article| %>
        <tr>
          <td id=img-150><%= link_to curation_path(article) do %><img src="<%= article.urlToImage %>" /><% end %></td>
          <td><%= link_to curation_path(article) do %><%= article.title %><% end %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @curation1, param_name: :curation1, params: {tab_flg: "1"} %>
    <%= page_entries_info @curation1 %>
  </div>
</div>
