<div class="tab-pane fade <%= "show active" if @tab_flg == "2"%>" id="Gem" role="tabpanel" aria-labelledby="Gem-tab">
  <div id=Gem_tab>
    <table class="article_table">
      <% @curation2.reverse_each do |article| %>
        <tr>
          <td id=img-150><%= link_to curation_path(article) do %><img src="<%= article.urlToImage %>" /><% end %></td>
          <td><%= link_to curation_path(article) do %><%= article.title %><% end %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @curation2, param_name: :curation2, params: {tab_flg: "2"} %>
    <%= page_entries_info @curation2 %>
  </div>
</div>
