<div class="tab-pane fade <%= "show active" if @tab_flg == "3"%>" id="Nokogiri" role="tabpanel" aria-labelledby="Nokogiri-tab">
  <div id=Nokogiri_tab>
    <table class="article_table">
      <% @curation3.reverse_each do |article| %>
        <tr>
          <td id=img-150><%= link_to curation_path(article) do %><img src="<%= article.urlToImage %>" /><% end %></td>
          <td><%= link_to curation_path(article) do %><%= article.title %><% end %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @curation3, param_name: :curation3, params: {tab_flg: "3"} %>
    <%= page_entries_info @curation3 %>
  </div>
</div>
