<div id=update_btn>
  <%= link_to curations_path, method: :put do %>
  <i class="fas fa-sync fa-2x icon-color faa-spin animated-hover"></i>
  <% end %>
</div>

<% @tab_flg ||= "1" %>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= "active" if @tab_flg == "1" %>" id="google-tab" data-toggle="tab" href="#google" role="tab" aria-controls="google" aria-selected="true">Google_api</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= "active" if @tab_flg == "2" %>" id="Gem-tab" data-toggle="tab" href="#Gem" role="tab" aria-controls="Gem" aria-selected="false">Gem</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= "active" if @tab_flg == "3" %>" id="Nokogiri-tab" data-toggle="tab" href="#Nokogiri" role="tab" aria-controls="Nokogiri" aria-selected="false">Nokogiri</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">



<%= render 'curation1' %>
<%= render 'curation2' %>
<%= render 'curation3' %>







</div>
