
<table class=article_details>
  <tr>
    <th class="title"><%= @article.title %></th>
  </tr>
  <tr>
    <td><img class="img-500" src="<%= @article.urlToImage %>" /></td>
  </tr>
<tr>
  <td><%= @article.description %></td>
</tr>

 <tr>
  <td><%= link_to "続きを読む", @article.url , :target=>["_blank"] %></td>
</tr>

</table>




<div id=comment_box>


<h2>コメント</h2>
<% @article.comments.each do |comment| %>
<div id=comment_list>
  <p>
    <div id=comment_list_user>
      <%= comment.user.username %>
    </div>
  </p>

  <p>
    <%= comment.body %>
  </p>

  </div>
<% end %>

</div>
<div id=comment_box>

<h2>コメントする</h2>
<%= form_with(model: [@article, @article.comments.build],local: true) do |form| %>

<p>
  <%= form.text_area :body %>
</p>
<p>
  <%= form.submit(["投稿"])%>
</p>
<% end %>


</div>
