html,body{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.notice,.alert{
  text-align: center;
  margin: 5% auto;
  width:80%;
  border-radius: 20%;
  background-color: #8bdfa0;
  color: white;
}

.authetication_box{
  padding-top: 5%;
}

img{
  width: 150px;
  height: 150px;
}

#img-150{
  width: 150px;
  height: 150px;

}

img.img-500{
  width: 500px;
  height: 500px;
}

/* aタグに#a_tagを付与することでbootstrapを上書き */
#a_tag {
text-decoration: none;
color: inherit;
}

#myTab{
  margin-bottom: 10px;
}

div#myTabContent.tab-content{
  margin: 40px;
}

#google-tab.nav-link{
  color: #ffffff;
  background-color: #3c5eed;
  opacity: 0.5;
}

#google-tab.nav-link.active{
  opacity: 1.0;
}


#Gem-tab.nav-link{
  color: #ffffff;
  background-color: #5ed216;
  opacity: 0.5;
}

#Gem-tab.nav-link.active{
  opacity: 1.0;
}


#Nokogiri-tab.nav-link{
  color: #ffffff;
  background-color: #ee46ac;
  opacity: 0.5;
}

#Nokogiri-tab.nav-link.active{
  opacity: 1.0;
}

table.article_table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 15px;
}



table.article_table td{
border: solid 1px;
text-align: center;

}


table.article_details{
  text-align: center;
  margin: 0 auto;
  width:500px;
  margin-bottom: 50px;
}

table.article_details .title{
  font-size: 30px;
}

table.article_details td{
  padding: 10px;
}










#update_btn{
  margin-top: 10px;
  text-align: center;
}

.icon-color{
  color: #a2979a;
}






#comment_box{
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;

  width:700px;
  text-align: center;
  background-color: #e3dbdb;
}

#comment_list{
  border:solid 1px;
  border-radius: 10px;

  padding: 0;
  margin-bottom: 10px;
  background-color: #ffffff;
}

#comment_list_user{
  text-align: left;
}
