.header-log{
  height: 70px;
}

nav .nav-item{
  margin-left: 10px;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.under-shadow{
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
}
